<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="<%= topic.topic %>">
    <meta property="og:description" content="<%= topic.description %>">
    <meta property="og:image" content="<%= topic.banner %>">
    <meta property="og:url" content="https://blockchainvietnam.online/">
    <title>TẠP CHÍ BLOCKCHAIN VIỆT NAM</title>
    <!-- <link rel="shortcut icon" href="../img/logo/logo.png" type="image/x-icon" id="pageTitle"> -->

    <!-- CSS
================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="/plugins/animate-css/animate.css">
    <!-- slick Carousel -->
    <link rel="stylesheet" href="/plugins/slick/slick.css">
    <link rel="stylesheet" href="/plugins/slick/slick-theme.css">
    <!-- Colorbox -->
    <link rel="stylesheet" href="/plugins/colorbox/colorbox.css">
    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min2.css" rel="stylesheet">
    <!-- Template styles-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/title.css">
    <link rel="stylesheet" href="/css/bthover.css">

    <link rel="stylesheet" href="/css/logo.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/new.css">
    <link rel="stylesheet" href="/css/menucon.css">

</head>

<body>
    <div class="body-inner">
        <header>
            <div class="header-area">
              <div class="header-top_area">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="header_top_wrap d-flex justify-content-between align-items-center">
                        <div class="text_wrap">
                          <div class="col-md-12 text-center text-white">
                            <i class="fa fa-calendar-alt"></i>
                            <span id="current-date"></span>
                            |
                            <!-- <div id="clock-divider"></div> -->
      
                            <i class="fa fa-clock"></i>
                            <span id="current-time"></span>
                          </div>
                        </div>
                        <div class="text_wrap">
                            <% if(user.active == true || user.active == false) {%>
                              <div class="user-menu">
                                <div class="user-avatar">
                                  <img src="<%= user.avatar == null ? '/img/user/user.jpg' : user.avatar %>" alt="User Avatar" id="avatar">
                                  <span class="user-name"><%= user.name %></span>
                                  <i class="fa fa-caret-down"></i>
                                </div>
                                <div class="dropdown-content-user">
                                  <a href="/account"> <i class="fa fa-user"></i>
                                    Thông tin tài khoản</a>
                                  <a href="/logout"> <i class="fa fa-sign-out-alt"></i>
                                    Đăng xuất</a>
                                </div>
                              </div>
          
                            <% }else {%>
                              <p>
                                <a href="/login">
                                  <i class="fa fa-user"></i>
                                  Login
                                </a>
                                <a href="/register">
                                  <i class="fa fa-user-plus"></i>
                                  Register
                                </a>
                              </p>
                            <% } %>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <header id="header" class="header-one">
                <div class="site-navigation">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-dark p-0">
                          <a class="d-block" href="/">
                            <img loading="lazy" src="/img/logo/logo-doc-4330 - Copy.png" alt="VDS"
                              style="height:100px; margin-right: 20px;">
                          </a>
      
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
                            aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
      
                          <div id="navbar-collapse" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav ml-auto">
                              <li class="nav-item">
                                <a class="nav-link" href="/">
                                  <i class="fa fa-home"></i>
                                  Trang Chủ
                                </a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/news"><i class="fa fa-newspaper"></i>
                                  Tin Tức</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/blockchain"><i class="fas fa-cube"></i>
                                  Blockchain</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/crypto"><i class="fab fa-btc"></i>
                                  Crypto</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/finance"><i class="fa fa-money-bill-alt"></i>
                                  Tài Chính</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/event"><i class="fa fa-calendar-alt"></i>
                                  Sự Kiện</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/contact"><i class="fa fa-envelope"></i>
                                  Liên Hệ</a>
                              </li>
                            </ul>
                          </div>
                        </nav>
                      </div>
                      <!--/ Col end -->
                    </div>
                    <!--/ Row end -->
                  </div>
                  <!--/ Container end -->
                </div>
                <!--/ Navigation end -->
              </header>
            </div>
          </header>

        <canvas></canvas>
        <canvas></canvas>

        <!-- Single Product Start -->
        <div class="container-fluid py-1 blog">
            <div class="container py-5">
                <ol class="breadcrumb justify-content-start mb-4">
                    <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
                    <li class="breadcrumb-item">
                        <% if(topic.category == 'tintuc') {%>
                            <a href="/news">Tin Tức</a>
                        <% } %>
                        <% if(topic.category == 'blockchain') {%>
                            <a href="/blockchain">Blockchain</a>
                        <% } %>
                        <% if(topic.category == 'crypto') {%>
                            <a href="/crypto">Crypto</a>
                        <% } %>
                        <% if(topic.category == 'finance') {%>
                            <a href="/finance">Tài Chính</a>
                        <% } %>
                    </li>
                    <li class="breadcrumb-item active"><%= topic.topic %></li>
                </ol>
                <% 
                    function formatDate(dateString) {
                        const [year, month, day] = dateString.split('/');
                        return `${day}/${month}/${year}`;
                    }
                %>

                <div class="row g-4">
                    <div class="col-lg-8">
                        <div class="mb-4">
                            <a href="#" class="h1 text-white display-5"><%= topic.topic %></a>
                        </div>
                        <div class="position-relative rounded overflow-hidden mb-3">
                            <img src="<%= topic.banner %>" class="img-zoomin img-fluid rounded w-100" alt="">
                            <div class="position-absolute px-4 py-2 rounded"
                                style="top: 20px; right: 20px; font-weight: bold; border:3px solid #fff;background-color:#ffab0e">
                                <% if(topic.category == 'tintuc') {%>
                                    TIN TỨC
                                <% } %>
                                <% if(topic.category == 'blockchain') {%>
                                    BLOCKCHAIN
                                <% } %>
                                <% if(topic.category == 'crypto') {%>
                                    CRYPTO
                                <% } %>
                                <% if(topic.category == 'finance') {%>
                                    TÀI CHÍNH
                                <% } %>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <a href="#" class="text-white link-hover me-3"><i class="fa fa-clock"></i><%= topic.time %></a>
                            <a href="#" class="text-white link-hover me-3"><i class="fa fa-eye"></i>
                                <% if(topic.view > 999) {%>
                                    <%= topic.view / 1000 %>k Views
                                <% } else {%>
                                    <%= topic.view %> Views
                                <% } %>
                            </a>
                            <a href="#" class="text-white link-hover me-3"><i class="fa fa-comment-dots"></i>
                                <%= topic.comment %> Comments
                            </a>
                            <a href="#" class="text-white link-hover"><i class="fa fa-arrow-up"></i>
                                <% if(topic.share > 999) {%>
                                    <%= topic.share / 1000 %>k Share
                                <% } else {%>
                                    <%= topic.share %> Share
                                <% } %>
                            </a>
                        </div>
                        <div class="bloggimg">
                            <%- topic.content %>
                        </div>
                        <div class="tab-class">
                            <div class="d-flex justify-content-between border-bottom mb-4">
                                <ul class="nav nav-pills d-inline-flex text-center">
                                    <li class="nav-item mb-3">
                                        <h5 class="mt-2 me-3 mb-0 text-white">Từ: VDS - Block Chain Việt Nam</h5>
                                    </li>
                                </ul>
                                <div class="d-flex align-items-center tabsocial">
                                    <h5 class="mb-0 me-3 text-white">Share:</h5>
                                    <img id="shareToFB" class="fab fa-twitter btn btn-square rounded-circle me-2"
                                        src="/img/icon/fazaa (2).png" onclick="shareToFacebook()" />
                                    <!-- <img class="fab fa-twitter btn btn-square rounded-circle me-2"
                                        src="/img/icon/fazaa (1).png" /> -->
                                </div>
                            </div>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane fade show active">
                                    <div class="row g-4 align-items-center">
                                        <div class="col-3">
                                            <img src="/img/logoct/logo.png" class="img-fluid w-100 rounded" alt="">
                                        </div>
                                        <div class="col-9">
                                            <h3 class="text-white">Giới Thiệu về VDS</h3>
                                            <p class="mb-0">
                                                Chào mừng bạn đến với Tạp chí Blockchain Việt Nam, nguồn thông tin hàng
                                                đầu về
                                                công nghệ
                                                Blockchain tại Việt Nam. Chúng tôi cung cấp những bài viết chất lượng,
                                                phân tích
                                                chuyên sâu và tin
                                                tức mới nhất về thị trường Blockchain. Đồng hành cùng cộng đồng với sự
                                                đổi mới,
                                                phát triển và ứng
                                                dụng Blockchain trong nền kinh tế số Việt Nam.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-light rounded my-4 p-4"
                            style="background: linear-gradient(rgba(62, 44, 7, 0.826), rgba(202, 203, 185, .1)), url('https://static.vecteezy.com/system/resources/previews/003/580/716/non_2x/abstract-black-metallic-polygon-yellow-light-futuristic-technology-design-background-vector.jpg')">
                            <h4 class="mb-4 text-white">CÁC BÀI VIẾT KHÁC</h4>
                            <div class="row g-4 tabwhite">
                                <% for(let i = 0; i < 4; i++) {%>
                                    <% let tp = topicTime[i] %>
                                    <div class="col-lg-6">
                                        <div class="d-flex align-items-center bg-dark p-3 rounded">
                                            <img src="<%= tp.banner %>" class="imgchung2 img-fluid rounded img-fixed-size" alt="">
                                            <div class="ms-3 text-white tabwhite">
                                                <a href="/<%= tp.category %>/<%= tp._id %>" class="h5 mb-2"><%= tp.topic %></a>
                                                <p class="text-white mt-3 mb-0 me-3"><i class="fa fa-clock"></i> <%= formatDate(tp.time) %></p>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                        </div>
                        <div class="bg-light rounded p-4"
                        style="background: linear-gradient(rgba(62, 44, 7, 0.826), rgba(202, 203, 185, .1)), url('https://static.vecteezy.com/system/resources/previews/003/580/716/non_2x/abstract-black-metallic-polygon-yellow-light-futuristic-technology-design-background-vector.jpg')">
                            <h4 class="mb-4 text-white">BÌNH LUẬN</h4>
                            <% comments.forEach(cm => { %>
                                <div class="p-4 bg-dark rounded mb-4">
                                    <div class="row g-4">
                                        <div class="col-3">
                                            <img src="/img/user/user.jpg" class="img-fluid rounded-circle w-100" alt="">
                                        </div>
                                        <div class="col-9">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="text-white"><%= cm.name %></h5>
                                            </div>
                                            <small class="text-body d-block mb-3"><i class="fas fa-calendar-alt me-1"></i>
                                                <%= cm.date %></small>
                                            <p class="mb-0"><%= cm.comment %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                        <div class="bg-light rounded p-4 my-4" style="background: linear-gradient(rgba(62, 44, 7, 0.826), rgba(202, 203, 185, .1)), url('https://static.vecteezy.com/system/resources/previews/003/580/716/non_2x/abstract-black-metallic-polygon-yellow-light-futuristic-technology-design-background-vector.jpg')">
                            <h4 class="mb-4 text-white">Để lại bình luận</h4>
                            <form action="/comment/<%= topic._id %>" method="post" id="commentForm">
                                <div class="row g-4">
                                    
                                    <% if(user.length === undefined) {%>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control py-3" placeholder="Họ và Tên" name="name" required>
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="email" class="form-control py-3" placeholder="Địa chỉ Email" name="email" required>
                                        </div>
                                    <% } %>
                                    <div class="col-12">
                                        <textarea class="form-control" id="" cols="30" rows="7"
                                            placeholder="Viết bình luận ở đây" name="comment" required></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button class="form-control btn text-dark py-2"
                                            style="font-weight: bold; font-size: 1.2em; border-radius: 5px; background-color: #ffc812;"
                                            type="submit" id="submitComment">Đăng bình luận</button>
                                    </div>
                                </div>
                            </form>
                            <div style="position: relative; width: 100%; height: 10vh; margin-top: 10px;">
                                <div id="successMessage" style="display: none; color: green; font-size: 40px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); white-space: nowrap;">
                                </div>
                                <div id="errorMessage" style="display:none; color:red; font-size: 40px;; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); white-space: nowrap;"></div>
                              </div>
                            </div>
                    </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="row g-4">
                            <div class="col-12">
                                <div class="p-3 rounded border">
                                    <h4 class="my-4 text-white">KẾT NỐI MẠNG XÃ HỘI</h4>
                                    <div class="row g-4">
                                        <div class="col-12">
                                            <a href="" target="_blank"
                                                class="w-100 rounded btn btn-primary d-flex align-items-center p-3 mb-2">
                                                <img class="fab fa-twitter btn btn-light btn-square rounded-circle me-3"
                                                    src="/img/icon/gra2f (1).png" />
                                                <span class="text-white">845 lượt thích + 860 người theo dõi</span>
                                            </a>
                                            <a href="https://t.me/carboncreditsvn" target="_blank"
                                                class="w-100 rounded btn btn-dark d-flex align-items-center p-3 mb-2"
                                                style="border:3px solid #ffeb12">
                                                <img class="fab fa-twitter btn btn-light btn-square rounded-circle me-3"
                                                    src="/img/icon/gra2f (2).png" />
                                                <span class="text-white">Hơn 10+ người tham dự</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row g-4">
                                        <div class="col-lg-12">
                                            <div class="position-relative banner-2">
                                                <img src="/img/back/hexagon-5555450_1280.webp"
                                                    class="img-fluid w-100 rounded" alt="">
                                                <div class="text-center banner-content-2">
                                                    <h1 class="title-gradient5">TẠP CHÍ
                                                        <br>
                                                        BLOCKCHAIN
                                                    </h1>
                                                    <a href="/"
                                                        class="btn hologram-btn text-white px-4"> Xem
                                                        Thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Product End -->

        <!-- Contact Start -->
        <div class="container-xxl py-5">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-1 title-gradient3">Liên hệ Với Chúng Tôi
                </h1>
                <h6 class="section-title text-center text-primary px-3" style="margin-top: -40px;"></h6>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="text-white">Về Chúng Tôi</h5>
                    <p class="mb-4">Chúng tôi hướng đến một Việt Nam hiện đại và bền vững, nơi mà Chuyển đổi Số và
                        Chuyển đổi
                        Xanh không chỉ là xu hướng mà còn là nền tảng cho sự phồn thịnh của quốc gia.</p>
                    <div class="d-flex align-items-center mb-3">
                        <div class="conbut d-flex align-items-center justify-content-center flex-shrink-0 bg-primary"
                            style="width: 50px; height: 50px;">
                            <i class="fa fa-map-marker-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-white">Địa Chỉ</h5>
                            <p class="mb-0">27 Hoàng Hoa Thám, Phường 6,
                                Quận Bình Thạnh, Thành Phố Hồ Chí Minh</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="conbut d-flex align-items-center justify-content-center flex-shrink-0 bg-primary"
                            style="width: 50px; height: 50px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-white">Số Điện Thoại</h5>
                            <p class="mb-0">
                                033 212 0339
                                <br>
                                086 864 6332
                            </p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="conbut d-flex align-items-center justify-content-center flex-shrink-0 bg-primary"
                            style="width: 50px; height: 50px;">
                            <i class="fa fa-envelope-open text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-white">Gửi Mail</h5>
                            <p class="mb-0">giaiphapnentangsovn@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <iframe class="position-relative rounded w-100 h-100"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1014827502626!2d106.7023093153348!3d10.80251376166725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529293ea53c67%3A0x9c7fba49a75c4c2b!2zMjcgw4JxIFbEg25oIELDoG4sIFBoxrDhu51uZyA2LCBCw6xuaCBUaOG6pW5oLCBUaOG6pW5oIFBow7osIEhvw6AgQ2jDrW5oIE1pbmg!5e0!3m2!1sen!2svn!4v1688412854563!5m2!1sen!2svn"
                        frameborder="0" style="min-height: 300px; border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
                </div>
                <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Họ Và Tên của Bạn">
                                    <label for="name">Họ Và Tên của Bạn</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Email của Bạn">
                                    <label for="email">Email của Bạn</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Tiêu Đề">
                                    <label for="subject">Tiêu Đề</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Để lại tin nhắn ở đây" id="message"
                                        style="height: 150px"></textarea>
                                    <label for="message">Mô Tả</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3 submit" type="submit">GỬI TIN NHẮN</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Contact End -->

        <!-- Footer Start -->
        <footer class="footer-section">
            <div class="container-xxl">
                <div class="footer-cta pt-5 pb-5">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="cta-text">
                                    <h4>Địa Chỉ</h4>
                                    <span>
                                        <a href="https://www.google.com/maps/search/?api=1&query=27+Hoang+Hoa+Tham,+Phuong+6,+Quan+Binh+Thanh,+Ho+Chi+Minh+City"
                                            target="_blank">
                                            27 Hoàng Hoa Thám, Phường 6,
                                            <br>Quận Bình Thạnh, Thành Phố Hồ Chí Minh
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <i class="fas fa-phone"></i>
                                <div class="cta-text">
                                    <h4>Liên Hệ</h4>
                                    <span><a href="tel:+840332120339">033 212 0339</a></span>
                                    <span><a href="tel:+840868646332">086 864 6332</a></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <i class="far fa-envelope-open"></i>
                                <div class="cta-text">
                                    <h4>Gửi Mail</h4>
                                    <span><a
                                            href="mailto:giaiphapnentangsovn@gmail.com">giaiphapnentangsovn@gmail.com</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-content pt-5 pb-5">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 mb-50">
                            <div class="footer-widget">
                                <div class="footer-logo">
                                    <a href="/"><img
                                            src="/img/logo/logo-doc-4330-copy-9044.png" class="img-fluid" alt="logo">
                                    </a>
                                </div>
                                <div class="footer-text">
                                    <p> Chào mừng bạn đến với Tạp chí Blockchain Việt Nam, nguồn thông tin hàng đầu về
                                        công nghệ
                                        Blockchain tại Việt Nam. Chúng tôi cung cấp những bài viết chất lượng, phân tích
                                        chuyên sâu và tin
                                        tức mới nhất về thị trường Blockchain. Đồng hành cùng cộng đồng với sự đổi mới,
                                        phát triển và ứng
                                        dụng Blockchain trong nền kinh tế số Việt Nam.
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                            <div class="footer-widget">
                                <div class="footer-widget-heading">
                                    <h3>Các đường liên kết khác</h3>
                                </div>
                                <ul>
                                    <li>
                                        <a href="/news"><i class="fa fa-newspaper"></i>
                                            Tin Tức</a>
                                    </li>
                                    <li>
                                        <a href="/blockchain"><i class="fas fa-cube"></i>
                                            Blockchain</a>
                                    </li>
                                    <li>
                                        <a href="/crypto"><i class="fab fa-btc"></i>
                                            Crypto</a>
                                    </li>
                                    <li>
                                        <a href="/finance"><i class="fa fa-money-bill-alt"></i>
                                            Tài Chính</a>
                                    </li>
                                    <li>
                                        <a href="/event"><i class="fa fa-calendar-alt"></i>
                                            Sự Kiện</a>
                                    </li>
                                    <li>
                                        <a href="/contact"><i class="fa fa-envelope"></i>
                                            Liên Hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                            <div class="footer-widget">
                                <div class="footer-widget-heading">
                                    <h3>Theo Dõi</h3>
                                    <div class="footer-social-icon py-2">
                                        <a href="https://www.facebook.com/blockchainvietnam.vn" target="_blank"><img
                                                src="/img/icon/gra2f (1).png" /></a>
                                        <a href="https://t.me/carboncreditsvn" target="_blank"><img
                                                src="/img/icon/gra2f (2).png" /></a>
                                    </div>
                                </div>
                                <div class="footer-text mb-25">
                                    <p>Đừng quên theo dõi những bài viết mới của chúng tôi, gửi email tại đây.</p>
                                </div>
                                <div class="subscribe-form">
                                    <form action="#">
                                        <input type="text" placeholder="Địa Chỉ Email . . .">
                                        <button><i class="fab fa-telegram-plane"></i></button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                            <div class="copyright-text">
                                <p>Copyright &copy; 2024, All Right Reserved <a href="">VDS - Vietnam Digital
                                        Solutions</a></p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Terms of Use</a></li>
                                    <li><a href="#">All Service</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer End -->

        <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top position-fixed">
            <button class="btn btn-primary" title="Back to Top">
                <i class="fa fa-angle-double-up"></i>
            </button>
        </div>

        <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top position-fixed">
            <button class="btn btn-primary" title="Back to Top">
                <i class="fa fa-angle-double-up"></i>
            </button>
        </div>


        <!-- Javascript Files
  ================================================== -->

        <!-- initialize jQuery Library -->
        <script src="/plugins/jQuery/jquery.min.js"></script>
        <!-- Bootstrap jQuery -->
        <script src="/plugins/bootstrap/bootstrap.min.js" defer></script>
        <!-- Slick Carousel -->
        <script src="/plugins/slick/slick.min.js"></script>
        <script src="/plugins/slick/slick-animation.min.js"></script>
        <!-- Color box -->
        <script src="/plugins/colorbox/jquery.colorbox.js"></script>
        <!-- shuffle -->
        <script src="/plugins/shuffle/shuffle.min.js" defer></script>


        <!-- Google Map API Key-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"
            defer></script>
        <!-- Google Map Plugin-->
        <script src="/plugins/google-map/map.js" defer></script>


        <!-- Template custom -->
        <script src="/js/script.js"></script>
        <script src="/js/security.js"></script>
        <script src="/js/bgback.js"></script>
        <script src="/js/date.js"></script>
        <script src="/js/bao.js"></script>



    </div><!-- Body inner end -->
</body>

</html>