<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="TẠP CHÍ BLOCKCHAIN VIỆT NAM">
  <meta property="og:description" content="TẠP CHÍ BLOCKCHAIN VIỆT NAM">
  <meta property="og:image" content="/img/logoct/lglink.png">
  <meta property="og:url" content="https://blockchainvietnam.online">
  <title>TẠP CHÍ BLOCKCHAIN VIỆT NAM</title>
  <!-- <link rel="shortcut icon" href="./img/logo/logo.png" type="image/x-icon" id="pageTitle"> -->

  <!-- CSS
================================================== -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
  <!-- FontAwesome -->
  <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">
  <!-- Animation -->
  <link rel="stylesheet" href="/plugins/animate-css/animate.css">
  <!-- slick Carousel -->
  <link rel="stylesheet" href="/plugins/slick/slick.css">
  <link rel="stylesheet" href="/plugins/slick/slick-theme.css">
  <!-- Colorbox -->
  <link rel="stylesheet" href="/plugins/colorbox/colorbox.css">
  <!-- Libraries Stylesheet -->
  <link href="/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/lib/owlcarousel/https://themewagon.github.io/aznews/assets/owl.carousel.min.css" rel="stylesheet">
  <!-- Customized Bootstrap Stylesheet -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Template styles-->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/title.css">

  <link rel="stylesheet" href="/css/logo.css">
  <link rel="stylesheet" href="/css/slick.css">
  <link rel="stylesheet" href="/css/new.css">
  <link rel="stylesheet" href="/css/menucon.css">
  <link rel="stylesheet" href="/css/imghover.css">

</head>

<body>
  <div class="body-inner">
    <header>
      <div class="header-area">
        <div class="header-top_area">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <div class="header_top_wrap d-flex justify-content-between align-items-center">
                  <div class="text_wrap">
                    <div class="col-md-12 text-center text-white">
                      <i class="fa fa-calendar-alt"></i>
                      <span id="current-date"></span>
                      |
                      <!-- <div id="clock-divider"></div> -->

                      <i class="fa fa-clock"></i>
                      <span id="current-time"></span>
                    </div>
                  </div>
                  <div class="text_wrap">
                    <% if(user.active == true || user.active == false) {%>
                      <div class="user-menu">
                        <div class="user-avatar">
                          <img src="<%= user.avatar == null ? '/img/user/user.jpg' : user.avatar %>" alt="User Avatar" id="avatar">
                          <span class="user-name"><%= user.name %></span>
                          <i class="fa fa-caret-down"></i>
                        </div>
                        <div class="dropdown-content-user">
                          <a href="/account"> <i class="fa fa-user"></i>
                            Thông tin tài khoản</a>
                          <a href="/logout"> <i class="fa fa-sign-out-alt"></i>
                            Đăng xuất</a>
                        </div>
                      </div>
  
                    <% }else {%>
                      <p>
                        <a href="/login">
                          <i class="fa fa-user"></i>
                          Login
                        </a>
                        <a href="/register">
                          <i class="fa fa-user-plus"></i>
                          Register
                        </a>
                      </p>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <header id="header" class="header-one">
          <div class="site-navigation">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <nav class="navbar navbar-expand-lg navbar-dark p-0">
                    <a class="d-block" href="/">
                      <img loading="lazy" src="/img/logo/logo-doc-4330 - Copy.png" alt="VDS"
                        style="height:100px; margin-right: 20px;">
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
                      aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div id="navbar-collapse" class="collapse navbar-collapse">
                      <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="/">
                            <i class="fa fa-home"></i>
                            Trang Chủ
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/news"><i class="fa fa-newspaper"></i>
                            Tin Tức</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/blockchain"><i class="fas fa-cube"></i>
                            Blockchain</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/crypto"><i class="fab fa-btc"></i>
                            Crypto</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/finance"><i class="fa fa-money-bill-alt"></i>
                            Tài Chính</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/event"><i class="fa fa-calendar-alt"></i>
                            Sự Kiện</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/contact"><i class="fa fa-envelope"></i>
                            Liên Hệ</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
                </div>
                <!--/ Col end -->
              </div>
              <!--/ Row end -->
            </div>
            <!--/ Container end -->
          </div>
          <!--/ Navigation end -->
        </header>
      </div>
    </header>

    <!-- Features Start -->
    <div class="container-fluid features mb-5">
      <div class="container py-5">
        <div class="row g-4">
          <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="row g-4 align-items-center features-item">
              <div class="col-4">
                <div class="rounded-circle position-relative">
                  <div class="overflow-hidden rounded-circle">
                    <img src="/img/icongiatri/2.png" class="img-zoomin img-fluid rounded-circle w-100" alt="">
                  </div>
                  <span class="rounded-circle border border-2 border-white btn-sm-square text-white position-absolute"
                    style="top: 10%; right: -10px;">1</span>
                </div>
              </div>
              <div class="col-8">
                <div class="features-content d-flex flex-column">
                  <p class="text-uppercase mb-2"><i class="fa fa-newspaper"></i> TIN TỨC</p>
                  <a href="/news" class="h6">
                    Xem Thêm . . .
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="row g-4 align-items-center features-item">
              <div class="col-4">
                <div class="rounded-circle position-relative">
                  <div class="overflow-hidden rounded-circle">
                    <img src="/img/icongiatri/5.png" class="img-zoomin img-fluid rounded-circle w-100" alt="">
                  </div>
                  <span class="rounded-circle border border-2 border-white btn-sm-square text-white position-absolute"
                    style="top: 10%; right: -10px;">2</span>
                </div>
              </div>
              <div class="col-8">
                <div class="features-content d-flex flex-column">
                  <p class="text-uppercase mb-2"><i class="fas fa-cube"></i> BLOCKCHAIN</p>
                  <a href="/blockchain" class="h6">
                    Xem Thêm . . .
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="row g-4 align-items-center features-item">
              <div class="col-4">
                <div class="rounded-circle position-relative">
                  <div class="overflow-hidden rounded-circle">
                    <img src="/img/icongiatri/6.png" class="img-zoomin img-fluid rounded-circle w-100" alt="">
                  </div>
                  <span class="rounded-circle border border-2 border-white btn-sm-square text-white position-absolute"
                    style="top: 10%; right: -10px;">3</span>
                </div>
              </div>
              <div class="col-8">
                <div class="features-content d-flex flex-column">
                  <p class="text-uppercase mb-2"><i class="fab fa-btc"></i> CRYPTO</p>
                  <a href="/crypto" class="h6">
                    Xem Thêm . . .
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="row g-4 align-items-center features-item">
              <div class="col-4">
                <div class="rounded-circle position-relative">
                  <div class="overflow-hidden rounded-circle">
                    <img src="/img/icongiatri/4.png" class="img-zoomin img-fluid rounded-circle w-100" alt="">
                  </div>
                  <span class="rounded-circle border border-2 border-white btn-sm-square text-white position-absolute"
                    style="top: 10%; right: -10px;">4</span>
                </div>
              </div>
              <div class="col-8">
                <div class="features-content d-flex flex-column">
                  <p class="text-uppercase mb-2"><i class="fa fa-money-bill-alt"></i> TÀI CHÍNH</p>
                  <a href="/finance" class="h6">
                    Xem Thêm . . .
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Features End -->

    <canvas></canvas>
    <canvas></canvas>

    <!-- Main Post Section Start -->
    <div class="container-fluid py-5">
      <div class="container">
        <div class="row g-4">
          <div class="col-lg-7 col-xl-8 mt-0">
            <div class="npl position-relative overflow-hidden rounded">
              <img src="<%= firstTopicTime.banner %>" class="img-fluid rounded img-zoomin w-100" alt="">
              <div class="d-flex justify-content-center px-4 position-absolute flex-wrap" style="bottom: 10px;">
                <a href="/<%= firstTopicTime.category %>/<%= firstTopicTime._id %>" class="text-white me-3 link-hover"><i class="fa fa-clock"></i> <%= firstTopicTime.time %></a>
                <a href="/<%= firstTopicTime.category %>/<%= firstTopicTime._id %>" class="text-white me-3 link-hover"><i class="fa fa-eye"></i>
                  <% if(firstTopicTime.view > 999) {%>
                    <%= firstTopicTime.view / 1000 %>k Views
                  <% } else {%>
                    <%= firstTopicTime.view %> Views
                  <% } %>
                </a>
                <a href="/<%= firstTopicTime.category %>/<%= firstTopicTime._id %>" class="text-white me-3 link-hover"><i class="fa fa-comment-dots"></i> <%= firstTopicTime.comment %>
                  Comment</a>
                <a href="/<%= firstTopicTime.category %>/<%= firstTopicTime._id %>" class="text-white link-hover"><i class="fa fa-arrow-up"></i>
                  <% if(firstTopicTime.share > 999) {%>
                    <%= firstTopicTime.share / 1000 %>k Share
                  <% } else {%>
                    <%= firstTopicTime.share %> Share
                  <% } %>
                </a>
              </div>
            </div>
            <div class="border-bottom py-3">
              <a href="/<%= firstTopicTime.category %>/<%= firstTopicTime._id %>" class="display-3 text-white mb-0 link-hover">
                <%= firstTopicTime.topic %>
              </a>
            </div>
            <p class="mt-3 mb-4"><%= firstTopicTime.description %>
            </p>
            <div class="bg-chung p-4 rounded">
              <div class="news-2">
                <h3 class="mb-4">LƯỢT XEM CAO NHẤT</h3>
              </div>
              <div class="row g-4 align-items-center">
                <div class="col-md-6">
                    <div class="rounded overflow-hidden">
                        <img src="<%= firstTopicView.banner %>"
                            class="img-fluid rounded img-zoomin w-100" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex flex-column">
                        <a href="/<%= firstTopicView.category %>/<%= firstTopicView._id %>" class="h3"><%= firstTopicView.topic %></a>
                        <p class="mb-0 fs-5"><i class="fa fa-eye">
                            <% if(firstTopicView.view > 999) {%>
                                <%= firstTopicView.view / 1000 %>k Views
                            <% } else {%>
                                <%= firstTopicView.view %> Views
                            <% } %>
                        </i></p>
                    </div>
                </div>
            </div>
            </div>
          </div>
          <div class="col-lg-5 col-xl-4">
            <div class="nbr bg-chung rounded p-4 pt-2">
              <div class="row g-4">
                <div class="col-12">
                  <div class="rounded overflow-hidden1 ">
                    <img
                      src="<%= secondTopicTime.banner %>"
                      class="img-fluid rounded img-zoomin w-100" alt="">
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex flex-column">
                    <a href="/<%= secondTopicTime.category  %>/<%= secondTopicTime._id %>" class="h4 mb-2"><%= secondTopicTime.topic %></a>
                    <p class="fs-5 mb-0"><i class="fa fa-clock"> <%= secondTopicTime.time %></i> </p>
                    <p class="fs-5 mb-0"><i class="fa fa-eye"> 
                      <% if(secondTopicTime.view > 999) {%>
                        <%= secondTopicTime.view / 1000 %>k Views
                      <% } else {%>
                        <%= secondTopicTime.view %> Views
                      <% } %>
                      
                    </i></p>
                  </div>
                </div>
                <% let ttnew = 0 %>
                <% for(let i = 2; i < topicTime.length; i ++) {%>
                  <% let topic = topicTime[i] %>
                  <% if( ttnew < 7) {%>
                    <div class="col-12">
                      <div class="row g-4 align-items-center">
                        <div class="col-5">
                          <div class="overflow-hidden rounded">
                            <img
                              src="<%= topic.banner %>"
                              class="img-zoomin img-fluid rounded w-100" alt="">
                          </div>
                        </div>
                        <div class="col-7">
                          <div class="features-content d-flex flex-column">
                            <a href="/<%= topic.category %>/<%= topic._id %>" class="h6"><%= topic.topic %></a>
                            <small><i class="fa fa-clock"> <%= topic.time %></i> </small>
                            <small><i class="fa fa-eye">
                              <% if(topic.view > 999) {%>
                                <%= topic.view / 1000 %>k Views
                              <% } else {%>
                                <%= topic.view %> Views
                              <% } %>                            
                            </i></small>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% } %>
                  <% ttnew ++ %>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Post Section End -->

    <!-- Banner Start -->
    <div class="container-fluid py-5 my-5 ban"
      style="background: linear-gradient(rgba(92, 67, 10, 0.826), rgba(202, 203, 185, .1)), url('https://static.vecteezy.com/system/resources/previews/003/580/716/non_2x/abstract-black-metallic-polygon-yellow-light-futuristic-technology-design-background-vector.jpg')">
      <div class="container">
        <div class="row g-4 align-items-center">
          <div class="col-lg-7">
            <h1 class="mb-4 title-gradient3">NHẬT BÁO
              <br>VIETNAM DIGITAL SOLUTIONS
            </h1>
            <h1 class="mb-4 text-white">Thông tin chính xác, tin tức nóng hổi - Cập nhật liên tục suốt 24
              giờ</h1>
            <div class="position-relative mx-auto">
              <input class="form-control w-100 py-3 rounded-pill" type="email" placeholder="Email Công Ty của Bạn">
              <button type="submit" class="btn btn-primary py-2 px-5 position-absolute rounded-pill text-white h-100"
                style="top: 0; right: 0; padding:10px; font-weight: bold;">Theo Dõi Ngay</button>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="rounded">
              <img src="/img/banner-img.jpg" class="img-fluid rounded w-100 rounded" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner End -->

    <!-- Main Post Section Start -->
    <div class="container-fluid py-2">
      <div class="container py-3">
        <div class="row g-4 bg-chung">
          <div class="d-flex flex-column flex-md-row justify-content-md-between border-bottom mb-4">
            <h1 class="mb-4"><i class="fa fa-clipboard"></i> TIN TỨC</h1>
            <ul class="nav nav-pills d-inline-flex text-center">
              <li class="nav-item mb-3">
                <a class="d-flex py-2 bg-dark rounded-pill active me-2" href="/news">
                  <span class="text-white"
                    style="width: auto; padding:10px; border-radius:10px; font-weight: bold; border: 3px solid #d9a924">
                    <i class="fa fa-arrow-right"></i> Xem Thêm</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-7 col-xl-8 mt-0">
            <div class="npl position-relative overflow-hidden rounded">
              <img src="<%= topicTinTuc[0].banner %>" class="img-fluid rounded img-zoomin w-100" alt="">
              <div class="d-flex justify-content-center px-4 position-absolute flex-wrap" style="bottom: 10px;">
                <a href="/<%= topicTinTuc[0].category %>/<%= topicTinTuc[0]._id %>" class="text-white me-3 link-hover"><i class="fa fa-clock"></i> <%= topicTinTuc[0].time %></a>
                <a href="/<%= topicTinTuc[0].category %>/<%= topicTinTuc[0]._id %>" class="text-white me-3 link-hover"><i class="fa fa-eye"></i>
                  <% if(topicTinTuc[0].view > 999) {%>
                    <%= topicTinTuc[0].view / 1000 %>k Views
                  <% } else {%>
                    <%= topicTinTuc[0].view %> Views
                  <% } %>
                </a>
                <a href="/<%= topicTinTuc[0].category %>/<%= topicTinTuc[0]._id %>" class="text-white me-3 link-hover"><i class="fa fa-comment-dots"></i> <%= topicTinTuc[0].comment %>
                  Comment</a>
                <a href="/<%= topicTinTuc[0].category %>/<%= topicTinTuc[0]._id %>" class="text-white link-hover"><i class="fa fa-arrow-up"></i>
                  <% if(topicTinTuc[0].share > 999) {%>
                    <%= topicTinTuc[0].share / 1000 %>k Share
                  <% } else {%>
                    <%= topicTinTuc[0].share %> Share
                  <% } %>
                </a>
              </div>
            </div>
            <div class="border-bottom py-3">
              <a href="/<%= topicTinTuc[0].category %>/<%= topicTinTuc[0]._id %>" class="display-3 text-white mb-0 link-hover">
                <%= topicTinTuc[0].topic %>
              </a>
            </div>
            <p class="mt-3 mb-4"><%= topicTinTuc[0].description %>
            </p>
          </div>
          <div class="col-lg-5 col-xl-4">
            <% for(let i = 1; i < 3; i ++) {%>
              <% let topic = topicTinTuc[i] %>
              <div class="nbr bg-chung rounded p-4 pt-0">
                <div class="row g-4 border-separator">
                  <div class="col-12">
                    <div class="rounded overflow-hidden1 ">
                      <img
                        src="<%= topic.banner %>"
                        class="img-fluid rounded img-zoomin w-100" alt="">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="d-flex flex-column">
                      <a href="/<%= topic.category %>/<%= topic._id %>" class="h4 mb-2"><%= topic.topic %></a>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Post Section End -->
    <% let nb = 0 %>
    <!-- Most Populer News Start -->
    <div class="container-fluid populer-news py-5">
      <div class="container py-5">
        <div class="bg-chung tab-class mb-4">
          <div class="row g-4">
            <div class="col-lg-12 col-xl-12">
              <div class="d-flex flex-column flex-md-row justify-content-md-between border-bottom mb-4">
                <h1 class="mb-4">
                  <i class="fa fa-newspaper"></i> NHẬT BÁO
                </h1>
                <ul class="nav nav-pills d-inline-flex text-center">
                  <li class="nav-item mb-3">
                    <a class="d-flex py-2 bg-dark rounded-pill active me-2" data-bs-toggle="pill" href="#tab-1">
                      <span class="text-white" style="width: 120px; font-weight: bold;"><i class="fas fa-cube"></i>
                        Blockchain</span>
                    </a>
                  </li>
                  <li class="nav-item mb-3">
                    <a class="d-flex py-2 bg-dark rounded-pill me-2" data-bs-toggle="pill" href="#tab-2">
                      <span class="text-white" style="width: 120px; font-weight: bold;"><i class="fab fa-btc"></i>
                        Crypto</span>
                    </a>
                  </li>
                  <li class="nav-item mb-3">
                    <a class="d-flex py-2 bg-dark rounded-pill me-2" data-bs-toggle="pill" href="#tab-3">
                      <span class="text-white" style="width: 120px; font-weight: bold;"><i
                          class="fa fa-money-bill-alt"></i>
                        Tài Chính</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="tab-content mb-4">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                  <div class="row g-4">
                    <div class="col-lg-8">
                      <div class="position-relative rounded overflow-hidden">
                        <img src="<%= topicBlockChain[0].banner %>" class="img-zoomin img-fluid rounded w-100" alt="">
                        <div class="position-absolute text-white px-4 py-2 rounded"
                          style="top: 20px; right: 20px; font-weight: bold; background:#d9a924; border:3px solid #fff;">
                          Blockchain
                        </div>
                      </div>
                      <div class="my-4">
                        <a href="/<%= topicBlockChain[0].category %>/<%= topicBlockChain[0]._id %>" class="h4"><%= topicBlockChain[0].topic %></a>
                      </div>
                      <p class="mt-3 mb-4"><%= topicBlockChain[0].description %>...</p>
                    </div>
                    <% nb = 0 %>
                    <div class="col-lg-4">
                      <div class="row g-4">
                        <% for(let i = 1; i < topicBlockChain.length; i++) {%>
                          <% let topic = topicBlockChain[i] %>
                          <% if(nb < 7) {%>
                            <div class="col-12">
                              <div class="row g-4 align-items-center">
                                <div class="col-5">
                                  <div class="overflow-hidden rounded">
                                    <img src="<%= topic.banner %>" class="img-zoomin img-fluid rounded w-100" alt="">
                                  </div>
                                </div>
                                <div class="col-7">
                                  <div class="features-content d-flex flex-column">
                                    <p class="text-uppercase mb-2">Blockchain</p>
                                    <a href="/<%= topic.category %>/<%= topic._id %>" class="h6"><%= topic.topic %></a>
                                    <small class="d-block"><i class="fas fa-calendar-alt me-1"></i><%= topic.time %></small>
                                  </div>
                                </div>
                              </div>
                            </div>
                          <% } %>
                          <% nb ++ %>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="tab-2" class="tab-pane fade show p-0">
                  <div class="row g-4">
                    <div class="col-lg-8">
                      <div class="position-relative rounded overflow-hidden">
                        <img src="<%= topicCrypto[0].banner %>" class="img-zoomin img-fluid rounded w-100" alt="">
                        <div class="position-absolute text-white px-4 py-2 rounded"
                          style="top: 20px; right: 20px; font-weight: bold; background:#d9a924; border:3px solid #fff;">
                          Crypto
                        </div>
                      </div>
                      <div class="my-4">
                        <a href="/<%= topicCrypto[0].category %>/<%= topicCrypto[0]._id %>" class="h4"><%= topicCrypto[0].topic %></a>
                      </div>
                      <p class="mt-3 mb-4"><%= topicCrypto[0].description %>...</p>
                    </div>
                    <% nb = 0 %>
                    <div class="col-lg-4">
                      <div class="row g-4">
                        <% for(let i = 1; i < topicCrypto.length; i++) {%>
                          <% let topic = topicCrypto[i] %>
                          <% if(nb < 7) {%>
                            <div class="col-12">
                              <div class="row g-4 align-items-center">
                                <div class="col-5">
                                  <div class="overflow-hidden rounded">
                                    <img src="<%= topic.banner %>" class="img-zoomin img-fluid rounded w-100" alt="">
                                  </div>
                                </div>
                                <div class="col-7">
                                  <div class="features-content d-flex flex-column">
                                    <p class="text-uppercase mb-2">Crypto</p>
                                    <a href="/<%= topic.category %>/<%= topic._id %>" class="h6"><%= topic.topic %></a>
                                    <small class="d-block"><i class="fas fa-calendar-alt me-1"></i><%= topic.time %></small>
                                  </div>
                                </div>
                              </div>
                            </div>
                          <% } %>
                          <% nb ++ %>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="tab-3" class="tab-pane fade show p-0">
                  <div class="row g-4">
                    <div class="col-lg-8">
                      <div class="position-relative rounded overflow-hidden">
                        <img src="<%= topicTaiChinh[0].banner %>" class="img-zoomin img-fluid rounded w-100" alt="">
                        <div class="position-absolute text-white px-4 py-2 rounded"
                          style="top: 20px; right: 20px; font-weight: bold; background:#d9a924; border:3px solid #fff;">
                          Tài Chính
                        </div>
                      </div>
                      <div class="my-4">
                        <a href="/<%= topicTaiChinh[0].category %>/<%= topicTaiChinh[0]._id %>" class="h4"><%= topicTaiChinh[0].topic %></a>
                      </div>
                      <p class="mt-3 mb-4"><%= topicTaiChinh[0].description %>...</p>
                    </div>
                    <% nb = 0 %>
                    <div class="col-lg-4">
                      <div class="row g-4">
                        <% for(let i = 1; i < topicTaiChinh.length; i++) {%>
                          <% let topic = topicTaiChinh[i] %>
                          <% if(nb < 7) {%>
                            <div class="col-12">
                              <div class="row g-4 align-items-center">
                                <div class="col-5">
                                  <div class="overflow-hidden rounded">
                                    <img src="<%= topic.banner %>" class="img-zoomin img-fluid rounded w-100" alt="">
                                  </div>
                                </div>
                                <div class="col-7">
                                  <div class="features-content d-flex flex-column">
                                    <p class="text-uppercase mb-2">Tài Chính</p>
                                    <a href="/<%= topic.category %>/<%= topic._id %>" class="h6"><%= topic.topic %></a>
                                    <small class="d-block"><i class="fas fa-calendar-alt me-1"></i><%= topic.time %></small>
                                  </div>
                                </div>
                              </div>
                            </div>
                          <% } %>
                          <% nb ++ %>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Most Populer End Start -->

    <!-- event section -->
    <section class="bg-chung event_section layout_padding">
      <div class="container">
        <div class="d-flex flex-column flex-md-row justify-content-md-between border-bottom mb-4">
          <h1 class="mb-4">
            <i class="fa fa-calendar-alt"></i> SỰ KIỆN
          </h1>
          <ul class="nav nav-pills d-inline-flex text-center">
            <li class="nav-item mb-3">
              <a class="d-flex py-2 bg-dark rounded-pill active me-2" href="/event">
                <span class="text-white"
                  style="width: auto; padding:10px; border-radius:10px; font-weight: bold; border: 3px solid #d9a924">
                  <i class="fa fa-arrow-right"></i> Xem Thêm</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="event_container">
          <div class="box">
            <div class="img-box">
              <img src="/img/bg/8.png" alt="" />
            </div>
            <div class="detail-box">
              <h4>
                Khóa Đào Tạo Kiểm Kê Khí Nhà Kính 2024
              </h4>
              <h6>
                8:00 AM - 5:00 PM TP.HCM, VIỆT NAM
              </h6>
            </div>
            <div class="date-box">
              <h3>
                <span>
                  15
                </span>
                Tháng 07
              </h3>
            </div>
          </div>
          <div class="box">
            <div class="img-box">
              <img src="/img/bg/6.jpg" alt="" />
            </div>
            <div class="detail-box">
              <h4>
                Khóa Đào Tạo Kiểm Kê Khí Nhà Kính 2023
              </h4>
              <h6>
                8:00 AM - 5:00 PM TP.HCM, VIỆT NAM
              </h6>
            </div>
            <div class="date-box">
              <h3>
                <span>
                  15
                </span>
                Tháng 07
              </h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end event section -->

    <!-- Whats New Start -->
    <div class="container-xxl mt-4 justify-content-center video">
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <iframe width="100%" height="250" src="https://www.youtube.com/embed/mXsbDeNo0kI?si=hhf0hN2KFDBva1Mo"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <iframe width="100%" height="250" src="https://www.youtube.com/embed/vP3W_5ZM0P0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <iframe 
                width="100%" 
                height="250" 
                src="https://www.youtube.com/embed/nr_1S2J2H-I?si=y6MOse2lVkOE3rcL" 
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <iframe width="100%" height="250" src="https://www.youtube.com/embed/dUQwHeiyAvg" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <iframe width="100%" height="250" src="https://www.youtube.com/embed/NLLyErHXWfU" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <iframe width="100%" height="250" src="https://www.youtube.com/embed/2ILYMZdct0I" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Whats New End -->

    <!-- Contact Start -->
    <div class="container-xxl py-5">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h1 class="mb-1 title-gradient3">Liên hệ Với Chúng Tôi
        </h1>
        <h6 class="section-title text-center text-primary px-3" style="margin-top: -40px;"></h6>
      </div>
      <div class="row g-4">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <h5 class="text-white">Về Chúng Tôi</h5>
          <p class="mb-4">Chúng tôi hướng đến một Việt Nam hiện đại và bền vững, nơi mà Chuyển đổi Số và
            Chuyển đổi
            Xanh không chỉ là xu hướng mà còn là nền tảng cho sự phồn thịnh của quốc gia.</p>
          <div class="d-flex align-items-center mb-3">
            <div class="conbut d-flex align-items-center justify-content-center flex-shrink-0 bg-primary"
              style="width: 50px; height: 50px;">
              <i class="fa fa-map-marker-alt text-white"></i>
            </div>
            <div class="ms-3">
              <h5 class="text-white">Địa Chỉ</h5>
              <p class="mb-0">27 Hoàng Hoa Thám, Phường 6,
                Quận Bình Thạnh, Thành Phố Hồ Chí Minh</p>
            </div>
          </div>
          <div class="d-flex align-items-center mb-3">
            <div class="conbut d-flex align-items-center justify-content-center flex-shrink-0 bg-primary"
              style="width: 50px; height: 50px;">
              <i class="fa fa-phone-alt text-white"></i>
            </div>
            <div class="ms-3">
              <h5 class="text-white">Số Điện Thoại</h5>
              <p class="mb-0">
                033 212 0339
                <br>
                086 864 6332
              </p>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <div class="conbut d-flex align-items-center justify-content-center flex-shrink-0 bg-primary"
              style="width: 50px; height: 50px;">
              <i class="fa fa-envelope-open text-white"></i>
            </div>
            <div class="ms-3">
              <h5 class="text-white">Gửi Mail</h5>
              <p class="mb-0">giaiphapnentangsovn@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <iframe class="position-relative rounded w-100 h-100"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1014827502626!2d106.7023093153348!3d10.80251376166725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529293ea53c67%3A0x9c7fba49a75c4c2b!2zMjcgw4JxIFbEg25oIELDoG4sIFBoxrDhu51uZyA2LCBCw6xuaCBUaOG6pW5oLCBUaOG6pW5oIFBow7osIEhvw6AgQ2jDrW5oIE1pbmg!5e0!3m2!1sen!2svn!4v1688412854563!5m2!1sen!2svn"
            frameborder="0" style="min-height: 300px; border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
        </div>
        <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
          <form>
            <div class="row g-3">
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="text" class="form-control" id="name" placeholder="Họ Và Tên của Bạn">
                  <label for="name">Họ Và Tên của Bạn</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="email" class="form-control" id="email" placeholder="Email của Bạn">
                  <label for="email">Email của Bạn</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  <input type="text" class="form-control" id="subject" placeholder="Tiêu Đề">
                  <label for="subject">Tiêu Đề</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  <textarea class="form-control" placeholder="Để lại tin nhắn ở đây" id="message"
                    style="height: 150px"></textarea>
                  <label for="message">Mô Tả</label>
                </div>
              </div>
              <div class="col-12">
                <button class="btn btn-primary w-100 py-3 submit" type="submit">GỬI TIN NHẮN</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Contact End -->

    <!-- Footer Start -->
    <footer class="footer-section">
      <div class="container-xxl">
        <div class="footer-cta pt-5 pb-5">
          <div class="row">
            <div class="col-xl-4 col-md-4 mb-30">
              <div class="single-cta">
                <i class="fas fa-map-marker-alt"></i>
                <div class="cta-text">
                  <h4>Địa Chỉ</h4>
                  <span>
                    <a href="https://www.google.com/maps/search/?api=1&query=27+Hoang+Hoa+Tham,+Phuong+6,+Quan+Binh+Thanh,+Ho+Chi+Minh+City"
                      target="_blank">
                      27 Hoàng Hoa Thám, Phường 6,
                      <br>Quận Bình Thạnh, Thành Phố Hồ Chí Minh
                    </a>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-4 mb-30">
              <div class="single-cta">
                <i class="fas fa-phone"></i>
                <div class="cta-text">
                  <h4>Liên Hệ</h4>
                  <span><a href="tel:+840332120339">033 212 0339</a></span>
                  <span><a href="tel:+840868646332">086 864 6332</a></span>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-4 mb-30">
              <div class="single-cta">
                <i class="far fa-envelope-open"></i>
                <div class="cta-text">
                  <h4>Gửi Mail</h4>
                  <span><a href="mailto:giaiphapnentangsovn@gmail.com">giaiphapnentangsovn@gmail.com</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-content pt-5 pb-5">
          <div class="row">
            <div class="col-xl-4 col-lg-4 mb-50">
              <div class="footer-widget">
                <div class="footer-logo">
                  <a href="/"><img src="/img/logo/logo-doc-4330-copy-9044.png"
                      class="img-fluid" alt="logo">
                  </a>
                </div>
                <div class="footer-text">
                  <p> Chào mừng bạn đến với Tạp chí Blockchain Việt Nam, nguồn thông tin hàng đầu về
                    công nghệ
                    Blockchain tại Việt Nam. Chúng tôi cung cấp những bài viết chất lượng, phân tích
                    chuyên sâu và tin
                    tức mới nhất về thị trường Blockchain. Đồng hành cùng cộng đồng với sự đổi mới,
                    phát triển và ứng
                    dụng Blockchain trong nền kinh tế số Việt Nam.
                  </p>
                </div>

              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
              <div class="footer-widget">
                <div class="footer-widget-heading">
                  <h3>Các đường liên kết khác</h3>
                </div>
                <ul>
                  <li>
                    <a href="/news"><i class="fa fa-newspaper"></i>
                      Tin Tức</a>
                  </li>
                  <li>
                    <a href="/blockchain"><i class="fas fa-cube"></i>
                      Blockchain</a>
                  </li>
                  <li>
                    <a href="/crypto"><i class="fab fa-btc"></i>
                      Crypto</a>
                  </li>
                  <li>
                    <a href="/finance"><i class="fa fa-money-bill-alt"></i>
                      Tài Chính</a>
                  </li>
                  <li>
                    <a href="/event"><i class="fa fa-calendar-alt"></i>
                      Sự Kiện</a>
                  </li>
                  <li>
                    <a href="/contact"><i class="fa fa-envelope"></i>
                      Liên Hệ</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
              <div class="footer-widget">
                <div class="footer-widget-heading">
                  <h3>Theo Dõi</h3>
                  <div class="footer-social-icon py-2">
                    <a href="https://www.facebook.com/blockchainvietnam.vn" target="_blank"><img
                        src="/img/icon/gra2f (1).png" /></a>
                    <a href="https://t.me/carboncreditsvn" target="_blank"><img src="/img/icon/gra2f (2).png" /></a>
                  </div>
                </div>
                <div class="footer-text mb-25">
                  <p>Đừng quên theo dõi những bài viết mới của chúng tôi, gửi email tại đây.</p>
                </div>
                <div class="subscribe-form">
                  <form action="#">
                    <input type="text" placeholder="Địa Chỉ Email . . .">
                    <button><i class="fab fa-telegram-plane"></i></button>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="copyright-area">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6 text-center text-lg-left">
              <div class="copyright-text">
                <p>Copyright &copy; 2024, All Right Reserved <a href="">VDS - Vietnam Digital
                    Solutions</a></p>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
              <div class="footer-menu">
                <ul>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms of Use</a></li>
                  <li><a href="#">All Service</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer End -->

    <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top position-fixed">
      <button class="btn btn-primary" title="Back to Top">
        <i class="fa fa-angle-double-up"></i>
      </button>
    </div>


    <!-- Javascript Files
================================================== -->

    <!-- initialize jQuery Library -->
    <script src="/plugins/jQuery/jquery.min.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="/plugins/bootstrap/bootstrap.min.js" defer></script>
    <!-- Slick Carousel -->
    <script src="/plugins/slick/slick.min.js"></script>
    <script src="/plugins/slick/slick-animation.min.js"></script>
    <!-- Color box -->
    <script src="/plugins/colorbox/jquery.colorbox.js"></script>
    <!-- shuffle -->
    <script src="/plugins/shuffle/shuffle.min.js" defer></script>


    <!-- Google Map API Key-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
    <!-- Google Map Plugin-->
    <script src="/plugins/google-map/map.js" defer></script>


    <!-- Template custom -->
    <script src="/js/script.js"></script>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <script src="/js/new.js"></script>
    <script src="/js/vid.js"></script>
    <script src="/js/bgback.js"></script>

    <script src="/js/date.js"></script>

    <script src="/js/security.js"></script>


  </div><!-- Body inner end -->
</body>

</html>